name: azure-aks-infra-deployment
on: 
 workflow_dispatch: 
permissions:
  id-token: write
  contents: read
run-name: self-hosted
jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: e50d63fe-9564-4b3e-a1ab-818ae7b6600f
          tenant-id: b2726345-22d4-4635-bf9b-fbe39a0215f0
          subscription-id: eac9ee72-3e50-4c23-b8c3-081a1f02b52a 
