name: azure-aks-infra-deployment
on: 
 workflow_dispatch: 
run-name: self-hosted
jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
    
    
      
